body{
    background-image: url(/img/back.png);
    background-color: #3d90e3;
    background-attachment: fixed;
}

.icon{
    font-size: 20px !important;
}

.row{
    margin-bottom: 0px;
}

.header{
    position: fixed;
    top: 0px;
    background-color:  #3d90e3;
    height: 125px;
    border-radius: 0px 0px 40px 40px;
    z-index: -1;
    width: 100%;
    max-width: none;
}

.namehint{
    margin-left: 40px;
    text-align: justify;
    font-weight: lighter;
}

.passhint{
    margin-left: 40px;
    text-align: justify;
    font-weight: lighter;
}

.card-title{
    font-family: Pacifico;
    color: #3d90e3;
    padding-top: 1px;
}

.header-row{
    height: 125px;
    margin-bottom: 0px;
}

.myfooter{
    position: fixed;
    background-color:  #3d90e3;
    height: 50px;
    border-radius: 40px 40px 0px 0px;
    z-index: -1;
    width: 100%;
    bottom: 0px;
    max-width: none;
}

.form-text{
    margin-left: 40px;
}

.tbLogin a{
    text-decoration: none !important;
    color: #3d90e3;
}

/* .myfooter a{
    font-size: large;
    text-decoration: none !important;
    color: white;
} */


.reglink, .loglink{
    font-size: 14px;
    font-weight: lighter;
}

.reglink a, .loglink a{
    font-weight: normal;
    text-decoration: none !important;
    color: #3d90e3; 
}

.title-logo{
    margin-top: -35px;
}

/* .card-header{
    background-color: transparent !important;
    border-bottom: none !important;
    text-align: center !important;
    background-color: crimson !important;
    border-radius: 60% !important;
    margin: -35px auto 0px !important;
    width: 85px;
}

.card-header img{
    height: 50px;
    width: 50px;
} */

nav{
    background-color: #fff;
}

.menu{
    color: #3d90e3;
}

.nav-title{
    font-size: 30px !important;
    padding: 0px 0px !important;
    color:#3d90e3;
}


.auth-card{
    border-radius: 20px;
    margin: 10px auto;
    background-color: snow;
    z-index: 100;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.login-btn{
    margin: 15px;
    border-radius: 20px;
}

.register-btn{
    border-radius: 20px;
}

.modalBtn{
    background-color: #3d90e3;
    border-radius: 20px;
}

.head-title{
    color: white;
    font-size: 40px;
    margin: 55px 16px;
    font-family: Pacifico;
    position: absolute;
}


.btn{
    background-color:  #3d90e3 !important;
}
  
.btn:hover{
    color: white !important;
}
  
.input-field span.prefix.active, label.active{
    color:  #3d90e3 !important;
}
  
input:focus{
    border-bottom: 1px solid  #3d90e3 !important;
    box-shadow: none !important;
}


.logo-header{
    height: 100px; 
    margin-top:80px;
    text-align: center;
}


.pass-icon {
  font-size: 20px;
  float: right;
  margin-right: 8px;
  margin-top: -45px;
  position: relative;
  z-index: 2;
  cursor:pointer;
}


.pass-icon:hover{
    color: #3d90e3;
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}


#profile-container {
    width: 140px;
    height: 140px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profileImage:hover{
  opacity: 0.9;
}

#profile-container img {
    width: 140px;
    height: 140px;
}

span.field-icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0.5rem;
  top: 0.7rem;
  z-index: 2;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-23 14:47:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }